<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>JFHC</title>
<link href="//public/stylesheets/JFSampleCSS.css" rel="stylesheet"  type="text/css">
<link href="//public/stylesheets/JFHomeCSS.css" rel="stylesheet"  type="text/css">
<link rel="/stylesheet" href="//public/stylesheets/bootstrap.css" >
<link href="//public/stylesheets/JFHomeCSS.css" rel="stylesheet">
<script src="//public/javascripts/bootstrap.min.js"></script>
</head>


<body>
<div class="wrapper">
<div class="header">

<a href="https://jfhealthcheck.mybluemix.net/">Home</a>
</div>
	<div class="content-box1"><p>Box 1</p></div>
	<div class="content-box2"><p>Box 2</div>
	<div class="content-box3"><p>Box 3</div>
<div class="content">
<div id="content-left" class="content-left">
<br></br>
<a href="JFCalculations.html">Key health calculations</a>
<br></br>
<a href="JFForm.html">JFForm</a>
<br></br>
<a href="http://www.cdc.gov" target="_blank">CDC</a>
<br></br>
<a href="http://www.nih.gov" target="_blank">NIH</a>
</div>
<div class="content-main">
<p>
Hello World from JFWebApp, a sandbox application created using Eclipse and running in IBM Bluemix.
</p>
<p>
The "Key health calculations" link will take you to a page where you can calculate your BMI and Waist to Hips Ratio.
</p>
<p>
The "JFForm" link will take you to a page where you can enter information into a database.
</p>
</div>
</div>
	<div id="footer" class="footer">
This Web Site is brought to you by the fine folks at JF
	</div>
	<div class="bottom">Bottom</div>
</div>
</body>

</html>