	
	body {
		font-family:arial,helvetica,sans-serif;
		font-size:12px;
		height:100%;		
	}
	.wrapper {
		width:98%;
		margin:0px auto;
		border:1px solid #bbb;
		padding:10px;
	}
	.header {
		border:1px solid #bbb;
		height:4%;
		padding:10px;
		width:98%;
		color:#ffffff;
		background-color:#E5E5E5;
		
	}
	.content {
		margin-top:10px;
		padding-bottom:10px;
	}
	.content div {
		padding:10px;
		border:1px solid #bbb;
		float:left;
	}
	.content-left {
		width:18%;
		height:300px;
		background-color:#F9F9F9;
	}
	.content-main {
		margin-left:10px;
		width:77%;
		height:150px;
	}
	.content-box1, .content-box2, .content-box3 {
		padding:10px;
		border:1px solid #bbb;
		position:absolute;
		margin-top:190px;
		height:120px;
	}


	.content-box1 {
		margin-left:25%;
		width:19%;
	}
	.content-box2 {
		margin-left:50%;
		width:19%;
	}
	.content-box3 {
		margin-left:75%;
		width:19%;
	}
	.footer {
		float:left;
		margin-top:10px;
		margin-bottom:10px;
		padding:10px;
		width:98%;
		border:1px solid #bbb;
		text-align: center;
		background-color:#E5E5E5;
	}
	.bottom {
		clear:both;
		text-align:right;
	}
